.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 50px;
}

.calulator{
  padding: 1%;
  width: 220px;
  background: #f2f2f2;
  border: solid 0.5px
}

.output{
  height: 30px;
  width: 100%;
  font-size: 20px;
}

.calBody{
  padding: 5% 0;
}

.calBtn{
  width: 35px;
  height: 30px;
  margin: 1%;
}

.btn-submit:hover {
    background-color: #45a049;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
